
    <footer class="mt-5">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-12 mb-3">
                    <hr>
                </div>
                <div class="col-12 col-md-4 mb-3 mb-md-0 font-1">
                    <h5>Illyasviel</h5>
                    <div class="small">
                        Мы не являемся аффилированным лицом Discord App<br>
                        Мы никак не связаны с Discord App
                    </div>
                    <span data-ccpa-link="1"></span>
                </div>
                <div class="col-6 col-md-3  mb-3 mb-md-0 font-1">
                    <h6>Искать</h6>
                    <div class="small">
                        <a href="#"></a><br>
                    </div>
                </div>
                <div class="col-6 col-md-2  mb-3 mb-md-0 font-1">
                    <h6>Ссылки</h6>
                    <div class="small">
                        <a href="https://twitter.com/AspireworldX" target="_blank"><i class="fab fa-twitter"></i>
                            Twitter</a><br>
                        <a href="http://t.me/thex49" target="_blank"><i class="fab fa-telegram-plane"></i>
                            Telegram</a><br>
                    </div>
                </div>
                <div class="col-12 col-md-3 text-md-right font-1">
                    <h6>Пожертвования</h6>
                    <div class="small">
                        <a class="text-primary" href="https://qiwi.me/durka" rel="noopener noreferrer" target="_blank">
                            Qiwi
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
