<div class="menu">
    <ul class="menu-options">
        <li class="menu-option">Отмена</li>
        <li class="menu-option"><a href="">Перезагрузить</a></li>
        <li class="menu-option"><a href="/g/">Мои сервера</a></li>
        <li class="menu-option">Выйти</li>
        <li class="menu-option">FAQ</li>
        <hr>
        <li class="menu-option" @click="changeBackground">Сменить фон</li>
    </ul>
</div>