<form class="search">
    <input type="text" class="search__input" placeholder="Поиск людей, серверов и репортов">
    <i class="zwicon-search search__helper"></i>
    <i class="zwicon-arrow-left search__reset"></i>
</form>